<%- include('./templates/header-admin.ejs') %>

<%- include('./templates/nav-admin.ejs') %>

<main class="dashboard-admin">

    <h1> Dashboard admin </h1>

    <section class="grid-container-admin">

        <a class="btn-admin" href="/dashboard-admin/form-new"> Crear entrada </a>

        <% if (entries.length > 0) { %>

            <% entries.forEach(item => { %>

                <article class="grid-item-admin">

                    <h2> <%= item.title %> </h2>

                    <div>

                        <img src="<%= item.photo %>" alt="<%= item.title %>" title="<%= item.title %>">

                    </div>

                    <p> <%= item.extract %> </p>

                    <p> <%= item.date.substring(0, 10).split('-').reverse().join('-').replace(/-/g, '/') %> </p>

                    <div class="buttons">

                        <a class="btn-admin" href="/dashboard-admin/form-edit/<%= item._id %>"> Editar entrada </a>

                        <a class="btn-admin" href="/dashboard-admin/delete/<%= item._id %>"> Eliminar entrada </a>

                    </div> 

                </article>
            
            <% }) %>

        <% } else { %>
        
            <p> No hay entradas… </p>
        
        <% } %>

    </section>

    <%- include('./templates/pagination-admin.ejs') %>

</main>

<%- include('./templates/footer-admin.ejs') %>