<%- include('./templates/header-admin.ejs') %>

<%- include('./templates/nav-admin.ejs') %>

<h2 class="uppercase text-center">Dashboard admin</h2>

<section class="grid-container">

    <a class="boton" href="/dashboard-admin/form-new">Crear entrada</a>

    <% if (entries.length > 0) { %>

        <% entries.forEach(item => { %>

            <article class="grid-item">
                <h3> <%= item.title %> </h3>
                <img src="<%= item.photo %>" alt="<%= item.title %>" title="<%= item.title %>">
                <p> <%= item.extract %> </p>
                <p> <%= item.date %> </p>
                <a class="boton" href="/dashboard-admin/form-edit/<%= item._id %>">Editar entrada</a>
                <a class="boton" href="/dashboard-admin/delete/<%= item._id %>">Eliminar entrada</a>
            </article>
        
        <% }) %>

    <% } else { %>
    
        <p>No hay entradas…</p>
    
    <% } %>

</section>

<%- include('./templates/footer-admin.ejs') %>