<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<section class="search-bar">

    <form action="/search" method="GET">
        <input id="search" name="search" class="search-bar-text" type="text" placeholder="Buscador de entradas">
        <input type="submit" class="search-bar-submit" value="Buscar">
    </form>

</section>

<main>
    <h2 class="text-center"> <%= error %> </h2>
    <h3 class="text-center"> <%= msg %> </h3>
</main>

<%- include('./templates/footer.ejs') %>