<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<main>

    <%- include('./templates/search-bar.ejs') %>

    <section class="grid-container">
        
            <article class="grid-item">
                <h2> <%= entry.title %> </h2>
                <p> <%= entry.date.substring(0, 10).split('-').reverse().join('-').replaceAll('-', '/') %> </p>
                <img src="<%= entry.photo %>" alt="<%= entry.title %>" title="<%= entry.title %>">
                <p> <%= entry.body %> </p>
            </article>

    </section>

</main>

<%- include('./templates/footer.ejs') %>