<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<main>

    <%- include('./templates/search-bar.ejs') %>

    <section class="grid-container">

        <% if (entries.length > 0) { %>
        
            <% entries.forEach(entry => { %>

                <article class="grid-item">
                    <h2> <%= entry.title %> </h2>
                    <p> <%= entry.date.substring(0, 10).split('-').reverse().join('-').replaceAll('-', '/') %> </p>
                    <img src="<%= entry.photo %>" alt="<%= entry.title %>" title="<%= entry.title %>">
                    <p> <%= entry.extract %> </p>
                    <a class="boton" href="/entry/<%= entry._id %>">Leer más</a>
                </article>

            <% }) %>

        <% } else { %>
        
            <p> No hay entradas… </p>

        <% } %>

    </section>

    <%- include('./templates/pagination-index.ejs') %>

</main>

<%- include('./templates/footer.ejs') %>