<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<section class="search-bar">

    <form action="/search" method="GET" autocomplete="off">
        <input id="search" name="search" class="search-bar-text" type="text" placeholder="Buscador de entradas">
        <input type="submit" class="search-bar-submit" value="Buscar">
    </form>

</section>

<section class="grid-container">

    <% if (entries.length > 0) { %>
     
        <% entries.forEach(entry => { %>

            <article class="grid-item">
                <h2> <%= entry.title %> </h2>
                <p> <%= entry.date.substring(0, 10) %> </p>
                <img src="<%= entry.photo %>" alt="<%= entry.title %>" title="<%= entry.title %>">
                <p> <%= entry.extract %> </p>
                <a class="boton" href="/entry/<%= entry._id %>">Leer más</a>
            </article>

        <% }) %>

    <% } else { %>
     
        <p> No hay entradas… </p>

    <% } %>

</section>

<!-- <div id="paginate" class="paginate">

</div> -->

<%- include('./templates/pagination-index.ejs') %>

<%- include('./templates/footer.ejs') %>