<%- include('./templates/header.ejs') %>

<%- include('./templates/nav.ejs') %>

<main>

    <%- include('./templates/search-bar.ejs') %>

    <section class="grid-container">

        <% if (entries.length > 0) { %>

            <% if (entries.length == 1) { %>

                <p class="text-results">Se ha encontrado <strong><%= pagination.totalDocs %></strong> resultado con la palabra <strong><%= search %></strong>:</p>

            <% } else { %>
             
                <p class="text-results">Se han encontrado <strong><%= pagination.totalDocs %></strong> resultados con la palabra <strong><%= search %></strong>:</p>
             
            <% } %>
    
            <% entries.forEach(entry => { %>
    
                <article class="grid-item">

                    <h2> <%= entry.title %> </h2>

                    <p> <%= entry.date.substring(0, 10).split('-').reverse().join('-').replace(/-/g, '/') %> </p>

                    <img src="<%= entry.photo %>" alt="<%= entry.title %>" title="<%= entry.title %>">

                    <p> <%= entry.extract %> </p>

                    <a href="/entry/<%= entry._id %>" class="boton">Leer más</a>

                </article>
             
            <% }) %>
    
        <% } else { %>
         
            <p class="text-results"> No se han encontrado entradas que contengan la palabra <strong><%= search %></strong>. </p>
    
        <% } %>
    
    </section>
    
    <%- include('./templates/pagination-result.ejs') %>

</main>

<%- include('./templates/footer.ejs') %>