<% if (pagination.totalPages > 1) { %>

    <div id="paginate" class="paginate">

        <% if (pagination.prevPage != null) { %>

            <a href="http://localhost:3000/search?search=<%= search %>&page=<%= pagination.prevPage %>" id="btn-prev" data-page="<%= pagination.prevPage %>"> << </a>
            
        <% } %>

        <% if (pagination.totalPages > 1) { %>

            <a href="http://localhost:3000/search?search=<%= search %>&page=<%= pagination.page %>"> <%= pagination.page %> </a>
            
        <% } %>

        <% if (pagination.nextPage != null) { %>

            <a href="http://localhost:3000/search?search=<%= search %>&page=<%= pagination.nextPage %>" id="btn-next" data-page="<%= pagination.nextPage %>"> >> </a>
            
        <% } %>

    </div>
    
<% } %>